web/Dockerfile
web/.dockerignore
web/node_modules
web/npm-debug.log
web/README.md
web/.next
web/.git
web/.env.local

server/node_modules
server/dist
server/npm-debug.log
server/volumes

openapi/dart
openapi/javascript/node_modules
openapi/scripts/node_modules
app
