@tailwind base;
@tailwind components;
@tailwind utilities;

@import "react-checkbox-tree/lib/react-checkbox-tree.css";
@import "./checkbox-tree.scss";

html,
body,
body > div:first-child,
div#__next {
  height: 100%;
}

body {
  background-color: #f8f6f7;
  margin: 0;
  font-weight: 300;
}
